development:
  MEETUP_KEY: "YOUR MEETUP KEY"
  MEETUP_SECRET: "YOUR MEETUP.COM SECRET"
  BASE_URL: "YOUR BASE_URL"
  AUTH_REDIRECT_URI: "YOUR REDIRECT URL ex: domain.com/authorize"
  APP_KEY: "YOUR APP KEY FOR SESSION"
