<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DevParana Certificados</title>
</head>
<body>
  <h1>Dados do cert</h1>
  <ul>
    <li>Nome: {{name}}</li>
    <li>Id: {{id}}</li>
    <li>Url: <a href={{url}}>{{url}}</a></li>
  </ul>
</body>
</html>
