<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DevParana Certificados</title>
</head>
<body>
  <h1>Não encontrado</h1>
  <p>Seu certificado para este evento não foi encontrado.</p>
  <p>Certifique-se que o email informado ou a conta do Meetup utilizada para atribuir sua participação foi a mesma que a informada.</p>
  <p>Em caso de dúvidas por favor entre em contato conosco pelo email: <a href="mailto:contato@devparana.org">contato@devparana.org</a></p>
</body>
</html>
